{% extends "base2.html" %}


{% block content %}
<div class="container">
    <div class="row">
        <br><br>        <br><br>
<h1 style="text-align: center;">A Look On Millennial Investing</ h1>

<h2> Welcome, Awesome things are brewing behind the scenes </ h2>
<h3> 
    We have used recommendations from industry experts to curate 3 Portfolios to match our Millennial Investors<br> 
    Find one that best resonates with you.<br><br><br>
    </div>
                 <div class="row" style="text-align: center;">
 <div class="col-4"><h2> 
                           Low Risk 
     <img src="{{ url_for('static', filename='LowRisk.png') }}">
            </h2> </div>                                                                   
 <div class="col-4"> <h2>                                                           
                    Balanced
     <img src="{{ url_for('static', filename='BalancedRisk.png') }}">
   </h2>  </div>
 <div class="col-4"> <h2>                                                           
     High Risk
     <img src="{{ url_for('static', filename='HighRisk.png') }}">
            </h2></div>
            </div>   
        
        <div class="row" >
 <div class="col-4"><h3 style="text-align: center;"> 
                            Portfolio 1:</h3><br> <h3>Low Volatility <br><i>(Beta < 1)</i> <br><ul><li>BRK.B<li>T<li>VYM<li>PG<li>VNQ</ul>
        </h3>  </div>                                                                   
 <div class="col-4"> <h3 style="text-align: center;">                                                           
                    Portfolio 2:</h3><br> <h3>Balanced Volatility:  <br><i>(Beta ≈ 1)</i> <br><ul><li>VOO<li>MSFT<li>BRK.B<li>VYM<li>U</ul>
    </h3> </div>
 <div class="col-4">    <h3 style="text-align: center;">                                                        
     Portfolio 3:</h3><br> <h3>High Volatility: <br><i>(Beta > 1)</i> <br><ul><li>STNE <li>U <li>SPOT <li>BROS <li>BARK</ul>
            </h3></div>
            </div>
            

<br><h3>
You can check out the Visualization, Portfolio Details and Monte-Carlo Simulations Based Portfolio Prediciton in the pages below:<br>  
    <ul>
                    <li><a href="{{ url_for('return_portfolio_all') }}">Returns: Overall Portfolio</a></li>
                    <li><a href="{{ url_for('return_portfolio') }}">Returns: Individual Stock</a></li>
    </ul>
</h3>
    </div>
    </div>

{% endblock %}

